* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #119C8F;
}

.container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    color: black;
    margin-top: 20px;
    padding-top: 20px;
}